header {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: hsl(0, 4%, 25%);
}

/*NAVBAR*/
.navbar {
    background-color: hsl(0, 4%, 25%);
    overflow: hidden;
    position: fixed; /* Change from "static" to "fixed" */
    left: 0;
    right: 0;
    font-family: "Open Sans";
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block; 
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 4%, 20%);
}

.navbar li{
    flex: 1;
}

/*WELCOME SECTION*/
#welcome-section{
    margin: 0px;
    padding: 100px;
    height: 1000px;
    font-family: "Open Sans";
    
}

table{
    margin-top:20px;
    border-collapse: collapse;
}

#job-title{
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 225px;
    letter-spacing: 12px;
}

#introduction{
    margin-top: -20px;
    margin-bottom: 5px;
    color:#ff4040;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}

.white-icon{
    filter:brightness(0)
}

#welcome-table{
    margin: auto;
}

#welcome-table td{
    padding-inline: 10px;
}


#about{
    font-family: "Open Sans";
    color: white;
    max-width: 900px; /* Add a maximum width to center the content */
    margin: 0 auto; /* Center the content horizontally */
    height: 1000px
}

.p1{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 25px;
}

#p2{
    text-align: center;
    font-size: 20px;

}

#who{
    text-align: center;
    letter-spacing: 5px;
    font-size: 53px;
}

.red{
    color:#ff4040;
    font-weight: bold;
}

#projects{
    height: 1200px;
}

/* PROJECTS SECTION */
#projects-heading{
    font-size: 73px;
    color:white;
    font-weight: bold;
    font-family: "Open Sans";
    text-align: center;
    padding-bottom: 25px;
}


/* Project Classes Left Side Alignment*/

.project-elements-left {
    display: inline-block;
    vertical-align: top;
    max-width: 500px;
    max-height: 350px;
    margin-left: 400px;
    margin-bottom: 25px; 
}

.project-name-left{
    color:#ff4040;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -5px;
}

.project-explanation-left{
    color:white;
    font-size: 18px;
}

.source-skills-left{
    color:white;
    font-weight: bold;
    vertical-align: top;
}

.skills-table-left{
    margin-top: -10px;
}

.skills-table-left td{
    padding-inline-end: 10px;  
}


/* Project Classes Right Side Alignment */

.project-elements-right {
    display: inline-block;
    margin-left: 300px;
    vertical-align: top;
    max-width: 500px;
    max-height: 350px;
    padding-bottom: 25px; 
}


.project-name-right{
    color:#ff4040;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -5px;
}

.project-explanation-right{
    color:white;
    font-size: 18px;
}

.source-skills-right{
    vertical-align: top;
    padding-top: 5px;
    color:white;
    font-weight: bold;
}

.skills-table-right{
    margin-top: -10px;
}

.skills-table-right td{
    padding-inline-end: 10px;
}



